<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info" packages="com.sina.scribe.log4j2plugin">
    <Appenders>
        <Scribe name="billing-scribe" host="10.13.88.196:1463" 
                category="EA_IMPMONITOR">
            <PatternLayout pattern="%m%n"/><!--%d %p [%c] - -->
        </Scribe>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="billing-scribe"/>
        </Root>
    </Loggers>
</Configuration>
